/* Default Styles Start */
:root {
    --primary-color: #461E52;
    --secondary-color: #DD517F;
    --tertiary-color: #E68E36;
    --quarternary-color: #556DC8;
    --quintiary-color: #7998EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Default Styles End */

/* Body Styles Start */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--quarternary-color);
}

body div {
    display : flex;
    flex-wrap: wrap;
    border: 5px solid green;
    margin: 2px;

}

body section {
    border: 5px solid orange;
    margin: 2px;
}

body article {
    border: 5px solid blue;
    margin: 2px;
}
/* Body Styles End */

/* Header Styles Start*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    color: var(--tertiary-color);
    color: #E68E36;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-position: 80%;
    z-index: 999; */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;

}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    /* font-size: 1.6vw; */
}
/* Header Styles End */


/* Hero Styles Start*/

/* Hero Styles End */

/* My Work Styles Start*/
.main-work {
    width: 80%;
}

#run-buddy {
    background-image: url(../images/run-buddy.png);
}

.back-work {
    width: 40%;
    padding: 350px 700px 50px 100px;
}

#horiseon {
    background-image: url(../images/horiseon.png);
}
/* My Work Styles End */


/* Media Queries Start*/
/* Smaller Desktops and Smaller */
@media screen and (max-width: 980px) {

}

/* Tablets and smaller */
@media screen and (max-width: 768px) {

}

/* mobile phones and smaller */
@media screen and (max-width: 575px) {

}